.nav-item{
    margin-right: 10px!important;
}
.nav-linkLink{
    text-decoration: none;
    color: #000000;
}
.collapse{
    justify-content: right;
}
.signOut{
    border: 0;
    font-size: 18px;
    font-weight: 600;
}
.navbar{
    background-color: #e2d9a0!important;
    box-shadow: 0px 20px 30px -8px rgba(0,0,0,0.21);
-webkit-box-shadow: 0px 20px 30px -8px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 20px 30px -8px rgba(0,0,0,0.21);
}